page-login {

  .login-content{
    background-color: #FF6347;
  }

  .label-logo{
    color: black;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
  }

  .label-description{
    color: black;
    font-size: 130%;
    text-align: center;
  }

  .top-row{
    height: 70%;
  }

  .bottom-row{
    height: 10%;

  }

}
